* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: black;
    position: fixed; 
    top: 0px;
    left: 0px; 
    width: 100%;
    padding: 20px;
    z-index: 1;
    transition: background-color 1s;
    animation: StartAnimation1 4s;
}

nav ul li {
    list-style: none;
    display: inline;
    font-size: 28px;
    margin: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    animation: StartAnimation2 4s;
    transition: color 1s;
}

.logo1 {
    position: relative;
    bottom: 10px;
    left: 10px;
}

.logo2 {
    position: relative;
    top: 10px;
    right: 28px;
}

.logos a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 30px;
    animation: LogoAnimation 4s;
    transition: color 1s;
}

nav a:hover {
    color: red;
}

#Header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#DownloadCVButton {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 10px;
    background: white;
    color: black;
    border: 1px solid black;
    transition: background-color 1s;
}

#DownloadCVButton:hover {
    background-color: red;
}

#About {
    height: 100%;
    background-color: rgb(40, 40, 40);
    padding-bottom: 3%;
}

#About-Title {
    background-color: rgb(40, 40, 40);
}

#About h1 {
    color: white;
    text-align: center;
    padding: 20px;
}

#About-Contents {
    display: flex;
    flex-direction: column;
}

#About-Contents-Div1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px 0px 20px 0px;
}

#About-Contents-Div1-Div1 {
    
    align-items: center;
    justify-content: center;
    text-align: center;
}

#About-Contents-Div1-Div2 {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
    color: white;
    font-size: 1.3em;
    margin-right: 5%;
}

#Picture {
    object-fit: contain;
    padding: 0 10% 0 10%;
    width: 35vw;
    height: 35vh;
    transition: transform 1s;
}

#Picture:hover {
    transform: scale(1.05);
}

#About-Contents-Div2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

#Elementary {
    margin-top: 10%;
}

.EducationDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10% 0 10% 0;
    transition: transform 1s;
}

.EducationName {
    background-color: white;
    padding: 10px;
    border: 3px solid black;
    opacity: 0;
}

.EducationTitle {
    background-color: gray;
    padding: 10px;
    border: 3px solid black;
    opacity: 0;
}

.EducationDiv:hover {
    transform: scale(1.1);
}

#Elementary:hover #EducationName0, #Elementary:hover #EducationTitle0 {
    box-shadow: 0 0 2em white;
}

#JuniorHigh:hover #EducationName1, #JuniorHigh:hover #EducationTitle1 {
    box-shadow: 0 0 2em white;
}

#SeniorHigh:hover #EducationName2, #SeniorHigh:hover #EducationTitle2 {
    box-shadow: 0 0 2em white;
}

#Tertiary:hover #EducationName3, #Tertiary:hover #EducationTitle3 {
    box-shadow: 0 0 2em white;
}

@keyframes visible_animation2 {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

#Achievements0 {
    margin-top: 10%;
}

#Achievements {
    display: flex;
    flex-direction: column;
}

#Achievements12 {
    margin-bottom: 20px;
}

.AchievementsDiv {
    display: flex;
    transition: transform 1s;
    opacity: 0;
}

@keyframes visible_animation1 {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes glowAnimation1 {
    0% {}
    35% {
        background-color: gold;
        box-shadow: 0 0 2em gold;
    }
    100% {
        background-color: white;
        box-shadow: none;
    }
}

@keyframes glowAnimation2 {
    0% {}
    35% {
        background-color: silver;
        box-shadow: 0 0 2em silver;
    }
    100% {
        background-color: white;
        box-shadow: none;
    }
}

@keyframes glowAnimation3 {
    0% {}
    35% {
        background-color: rgb(205, 127, 50);
        box-shadow: 0 0 2em rgb(205, 127, 50);
    }
    100% {
        background-color: white;
        box-shadow: none;
    }
}

.AchievementsName {
    background-color: white;
    padding: 10px;
    border: 3px solid black;
    transition: box-shadow 1s;
}

#AchievementsName5:hover, #AchievementsName6:hover, #AchievementsName7:hover, #AchievementsName8:hover, #AchievementsName9:hover, #AchievementsName11:hover {
    background-color: rgb(205, 127, 50);
    box-shadow: 0 0 2em rgb(205, 127, 50);
}

#AchievementsName0:hover, #AchievementsName10:hover, #AchievementsName12:hover {
    box-shadow: 0 0 2em silver;
    background-color: silver;
}

#AchievementsName1:hover, #AchievementsName2:hover, #AchievementsName3:hover, #AchievementsName4:hover {
    box-shadow: 0 0 2em gold;
    background-color: gold;
}

.AchievementsTitle {
    background-color: gray;
    padding: 10px;
    border: 3px solid black;
}

.AchievementsName:hover {
    transform: scale(1.1);
}

#About-Contents-Div3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

#cerebrax {
    opacity: 0;
    width: 300px;
    height: 167px;
    background-color: gray;
    border-radius: 20px;
    border: 1px solid black;
    transition: transform 1s;
}

#cerebrax:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 1em white;
}

@keyframes projectAnimation {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

#Skills {
    height: 100%;
    padding-bottom: 2%;
}

#Skills h1 {
    color: black;
    text-align: center;
    padding: 20px;
}

#Skills-Contents {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#SoftSkillsParent {
    align-items: center;
}

#SoftSkills {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.softSkillsTitleDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.SoftSkillsTitle {
    padding: 20px;
    margin: 20px;
    background-color: gray;
    color: white;
}

.SoftSkillsTitle h2 {
    text-align: right;
    white-space: nowrap;
}

.barGraphDivParent {
    display: flex;
    flex-direction: column;
}

.barGraphDiv {
    padding: 20px;
    margin: 23px 0 23px 0;
}

.barGraph {
    height: 20px;
    width: 300px;
    border: 1px solid black;
    border-radius: 1em;
}

.proficiency {
    opacity: 0;
    background: linear-gradient(90deg, white, black);
    height: 18px;
    border-radius: 1em;
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-color 1s;
}

@keyframes graphAnimation {
    0% {
        opacity: 0;
        background-position: 100% 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        background-position: -100% 0;
    }
}

.proficiency0 {
    width: 285px;
}

.proficiency1 {
    width: 285px;
}

.proficiency2 {
    width: 285px;
}

.proficiency3 {
    width: 270px;
}

.proficiency4 {
    width: 255px;
}

.proficiency5 {
    width: 255px;
}

.hardSkills {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.HardSkillsTitle {
    padding: 20px;
    margin: 20px;
    background-color: gray;
    color: white;
}

.hardSkillsTitleDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.proficiency6 {
    width: 180px;
}

.proficiency7 {
    width: 225px;
}

.proficiency8 {
    width: 225px;
}

.proficiency9 {
    width: 165px;
}

.proficiency10 {
    width: 105px;
}

#Contact {
    height: 100%;
    background-color: black;
}

#Contact h1 {
    padding: 20px;
    color: white;
    text-align: center;
}

#Contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
}

#Contacts h2 {
    white-space: nowrap;
}

#Contacts h2 a {
    color: white;
}

#Welcome {
    animation: jumpInWelcome 2s;
}

#To {
    animation: jumpInTo 2s;
}

#My {
    animation: jumpInMy 2s;
}

#Portfolio {
    animation: jumpInPortfolio 2s;
}

#DownloadCVButton {
    opacity: 1;
    animation: buttonAnimation 6s;
}

@keyframes jumpInWelcome {
    0% {position: relative;
        top: 0vh;
        left: -70vw;
    }
    100% {position: relative;
        top: 0;
        left: 0;
    }
}

@keyframes jumpInTo {
    0% {position: relative;
        top: -70vh;
        left: 0vw;
    }
    100% {position: relative;
        top: 0;
        left: 0;
    }
}

@keyframes jumpInMy {
    0% {position: relative;
        top: -70vh;
        left: 70vw;
    }
    100% {position: relative;
        top: 0;
        left: 0;
    }
}

@keyframes jumpInPortfolio {
    0% {position: relative;
        top: 70vh;
        left: 70vw;
    }
    100% {position: relative;
        top: 0;
        left: 0;
    }
}

@keyframes buttonAnimation {
    0% {
        opacity: 0;
    }
    65% {
        opacity: 0;
    }
    85% {
        opacity: 1;
        background-color: red;
        box-shadow: 0 0 2em red;
    }
    100% {
        background-color: white;
        box-shadow: none;
    }
    
}

@keyframes LogoAnimation {
    0% {
        color: black;
        font-size: 25em;
        top: 100vh;
        left: 100vw;
    }
    50% {
        color: black;
        font-size: 25em;
        top: 100vh;
        left: 100vw;
    }
    90% {
        color: black;
    }
    100% {
        top: 0px;
        left: 0px;
    }
}

@keyframes StartAnimation1 {
    0% {
        background-color: rgba(0,0,0,0);
    }
    90% {
        background-color: rgba(0,0,0,0);
    }
}

@keyframes StartAnimation2 {
    0% {
        color: rgba(0,0,0,0);
    }
    90% {
        color: rgba(0,0,0,0);
    }
}

@media (max-width: 1300px) {

    #Skills-Contents {
        flex-direction: column;
    }
    #Contacts {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 1000px) {
    #About-Contents-Div2 {
        flex-direction: column;
        align-items: center;
    }

    #Education {
        margin: 0 5% 0 5%;
    }

    .EducationDiv {
        align-items: center;
        font-size: 90%;
    }

    .EducationName {
        text-align: center;
    }

    #Achievements {
      align-items: center;  
    }

    .AchievementsDiv {
        align-items: center;
        margin-bottom: 3%;
        font-size: 80%;
    }
}

@media (max-width: 768px) {

    .navbar {
        flex-direction: column;
    }

    nav ul {
        margin-top: 15px;
    }

    nav ul li {
        font-size: 24px;
        margin: 20px 15px 20px 15px;
    }

    #About-Contents-Div1 {
        flex-direction: column;
    }

    #Picture {
        width: 50%;
        height: 50%;
    }

    #About-Contents-Div1-Div2 {
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-right: 0;
    }

    #About-Contents-Div1-Div2 p {
        text-align: center;
        margin-right: 5%;
        margin-left: 5%;
    }

    #Skills-Contents h2 {
        font-size: 18px;
    }

    .barGraph {
        height: 15px;
        width: 200px;
    }

    .proficiency {
        height: 13px;
    }
    
    .proficiency0 {
        width: 190px;
    }
    
    .proficiency1 {
        width: 190px;
    }
    
    .proficiency2 {
        width: 190px;
    }
    
    .proficiency3 {
        width: 180px;
    }
    
    .proficiency4 {
        width: 170px;
    }
    
    .proficiency5 {
        width: 170px;
    }

    .proficiency6 {
        width: 120px;
    }
    
    .proficiency7 {
        width: 150px;
    }
    
    .proficiency8 {
        width: 150px;
    }
    
    .proficiency9 {
        width: 110px;
    }
    
    .proficiency10 {
        width: 70px;
    }

    #Contacts h2 {
        font-size: 20px;
    }
}

@media (max-width: 550px){

    #Skills-Contents h2{
        font-size: 15px;
    }

    .SoftSkillsTitle {
        padding: 20px;
        margin: 20px 0 20px 0;
    }

    .HardSkillsTitle {
        padding: 20px;
        margin: 20px 0 20px 0;
    }

    .barGraph {
        height: 12px;
        width: 150px;
    }

    .proficiency {
        height: 10px;
    }
    
    .proficiency0 {
        width: 142.5px;
    }
    
    .proficiency1 {
        width: 142.5px;
    }
    
    .proficiency2 {
        width: 142.5px;
    }
    
    .proficiency3 {
        width: 135px;
    }
    
    .proficiency4 {
        width: 127.5px;
    }
    
    .proficiency5 {
        width: 127.5px;
    }

    .proficiency6 {
        width: 90px;
    }
    
    .proficiency7 {
        width: 112.5px;
    }
    
    .proficiency8 {
        width: 112.5px;
    }
    
    .proficiency9 {
        width: 82.5px;
    }
    
    .proficiency10 {
        width: 52.5px;
    }
}

@media (max-width: 440px){
    
    #Skills-Contents h2{
        font-size: 13px;
    }

    .barGraphDiv {
        padding: 10px;
        margin: 23.5px 0 23.5px 0;
    }

    .SoftSkillsTitle {
        padding: 12px;
        margin: 20px 0 20px 0;
    }

    .HardSkillsTitle {
        padding: 12px;
        margin: 20px 0 20px 0;
    }
}